.progress {
    margin: 2rem 2rem;
    text-align: center;
}
.btn_position {
    text-align: center;
}
.progress-circle-big {
      stroke-dasharray:440px;
      fill: none;
      stroke: #FFEB3B;
      stroke-width: 40px;
       
}
.progress-circle-small {
      fill: none;
      stroke: black;
      stroke-width: 10px;
      stroke-dasharray: 0 440px;
      stroke-dashoffset: 0px;
      transition: stroke-dasharray 1s linear 0s;
      
}
.progress-text {
    font-size: 35px;
    transform: translate(123px, 125px);
}
button {
    cursor: pointer;
    height: 43px;
    width: 120px;
    background: #fff;
    border: 1px solid #9E9E9E;
}